menu "Example Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        help
            SSID (network name) for the example to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        help
            WiFi password (WPA or WPA2) for the example to use.

    config ESP_MQTT_BROKER_URI
        string "MQTT Broker URI"
        help
            The URI of the MQTT server.

endmenu
